<!DOCTYPE html>
<html>
<head>
	<title>Prueba de Layout</title>
<link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
	<div class="header">
		<h1>Gustos Personales </h1>
		<p>Diosito</p>
	</div>
	<div class="menu">
	<a href="https://htmlcolorcodes.com/es/">Colores</a>
	<a href="https://www.eluniversal.com.mx/techbit/la-historia-del-ayuwoki-el-terror-en-la-red">Hee hee</a>	
	<a href="https://www.tabascohoy.com/nota/471973/minus">Diosito</a>
    <a href="https://www.facebook.com/">Info</a>
	</div>
	<div class="contenido">
		<div class="izquierda">
			<div class="objeto">
				<h2>El dia del platano</h2>
				<h5>Chi Cheñoool</h5>
				<img src="platano.jpg" alt="" class="imagen">
			</div>
		</div>
		<div class="derecha">
			<div class="objeto">
			<h2>Con doble porcion</h2>
			<img src="platanov2.jpg" alt="" width="">	
			</div>
			
		</div>	
	</div>
	<div class="footer">
		<h2>&copy; 2019</h2>

</body>
</html>